/* mobile first */

.artist-panel {
  flex: 33.33333%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border: solid 1px #8c8c8c;
}

div.name-container {
  display: flex;
  padding: 10px;
  background-color: white;
  margin: auto;
  max-width: 200px;
  justify-content: center;
}

p.name {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: black;
}

@media (min-width: 992px) {
  /* set background-image of artist-panel to be nothing by default,
  but on hover we fade it in */
  .artist-panel {
    background-image: none;
    position: relative;
    padding: 0;
  }

  .artist-panel:hover {
    cursor: pointer;
  }

  div.bg-img {
    opacity: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
  }

  div.bg-img:hover {
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
  }

  div.name-container {
    background-color: transparent;
    padding-top: 20px;
    z-index: 10;
  }

  p.name {
    color: white;
    /* text-shadow: 1px 1px 5px black; */
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}