div.info {
  margin: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color-burn;
}

div.releases {
  flex: 50%;
  background-color: whitesmoke;
}

h1.title {
  text-align: center;
}

.media-links {
  margin: auto;
  /* border: solid 1px salmon; */
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}

.bio {
  color: white;
  width: 90%;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

@media (min-width: 992px) {
  div.info {
    width: 50%;
  }
}

