/* mobile first */

.artist-panel {
  flex: 33.33333%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  transition: backgroundImage 2.5s;
  border: solid 1px #8c8c8c;
}

div.artist-panel:hover {
  cursor: pointer;
}

div.name-container {
  display: flex;
  padding: 10px;
  background-color: white;
  margin: auto;
  max-width: 200px;
  justify-content: center;
}

p.name {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

@media (min-width: 992px) {
  /* set background-image of artist-panel to be nothing by default,
  but on hover we fade it in */
  .artist-panel {
    background-image: none;
  }

  div.name-container {
    background-color: transparent;
  }

  p.name {
    color: white;
    /* text-shadow: 1px 1px 5px black; */
  }
}