.info {

}

@media (min-width: 992px) {
  .info {
    flex: 50%;
  }

  .releases {
    flex: 50%;
    background-color: whitesmoke;
  }

  .info, .releases {

  }

  .sub-div {
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
    opacity: 50%;
    padding: 20px;
  }

  .sub-div > h1 {
    text-align: center;
  }
}

