div#nav {
  position: fixed;
  background-color: black;
  height: 50px;
  width: 100%;
  z-index: 999;
  margin: 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  flex: 80%;
  padding-left: 15px;
  font-size: large;
}

ul#options {
  display: none;
}

ul#options-slider {
  display: flex;
  flex-direction: column;
}

#hamburger {
  display: flex;
  justify-content: flex-end;
  flex: 20%;
  padding-right: 15px;
  cursor: pointer;
}

@media (min-width: 480px) {
  
}

@media (min-width: 768px) {
  div#nav {
    height: 100px;
  }
  ul#options {
    display: flex;
    flex: 50%;
    list-style-type: none;
    justify-content: space-around;
  }

  #hamburger {
    display: none;
  }
}

@media (min-width: 1024px) {

}