#services-container {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    height: 20vh;
    margin: auto;
    height: 100vh;
}

@media (min-width: 992px) {
    #services-container {
        width: 50%;
    }
}