#services-container {
    /* border: solid 2px salmon; */
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    height: 20vh;
    margin: auto;
    height: 100vh;
    /* background-color: black; */
}

@media (min-width: 992px) {
    #services-container {
        padding-top: 150px;
    }
}